.Clear_Bottom{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.margenes_formulario{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.margenes_primerImput{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.margenes_total{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.margen_comprar{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}