.Titulo_color{
    color: blue;
}

.modal-container{
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 0px, 10px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.modal-cart{
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
